<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }} - Yarboa's blog</title>
  <meta name="description" content="This site is an opensource project, I am sharing here the experience in opensource projects">
  <link rel="stylesheet" href="/assets/main.css">
  <link rel="stylesheet" href="/assets/custom.css">
</head>
<body>
  <header class="site-header" role="banner">
    <div class="wrapper">
      <a class="site-title" rel="author" href="/">Yarboa's blog</a>
      <nav class="site-nav">
        <div class="trigger">
          <a class="page-link" href="/about/">About</a>
        </div>
      </nav>
    </div>
  </header>

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  <footer class="site-footer h-card">
    <div class="wrapper">
      <h2 class="footer-heading">Yarboa's blog</h2>
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            <li class="p-name">Yarboa's blog</li>
            <li><a class="u-email" href="mailto:yarboa@gmail.com">yarboa@gmail.com</a></li>
          </ul>
        </div>
        <div class="footer-col footer-col-2">
          <ul class="social-media-list">
            <li><a href="https://github.com/yarboa"><span class="username">github.com/yarboa</span></a></li>
            <li><a href="https://www.twitter.com/yarboa"><span class="username">twitter.com/yarboa</span></a></li>
          </ul>
        </div>
        <div class="footer-col footer-col-3">
          <p>This site is an opensource project, I am sharing here the experience in opensource projects</p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
